*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(223,223,233);
  font-family: 'Roboto', sans-serif;
  height: 100vh;

  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  width: 85%;
  height: 80%;
  background: #FAFAFA;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.16);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}

.content {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  text-align:right
}

.image {
  width: 50%;
  height: 100%;
  filter: drop-shadow(-2px 0 4px rgba(0,0,0,0.08));
}

@keyframes animatedImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animatedImage {
  animation: animatedImage 2s;
}

.image-content {
  display: flex;
  align-items: flex-end;
  justify-content: left;

  width: 100%;
  height: 100%;
  background-image: url('../img/sul.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px 0 0 10px;
  clip-path: polygon(100% 0, 95% 100%, 0% 100% ,0 0);
}

.btn {
  border: none;
  outline: none;
  color: white ;
  background-color: #3CCD99;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.16);
}

.btn-circle{
  border-radius: 100%;
  padding: 0;
  width: 48px;
  height: 48px;
}

.image-btn-change{
    margin-bottom: 5%;
    margin-left: 5%;
}

.git-icon {
  width: 36px;
  height: 36px;
  margin: 4% 4% 0 0;
}

.input-text{
  display: inline-block;
  width: 100%;
  outline: none;
  border: 1px solid #3CCD99;
  border-radius: 5px;
  padding: 1%;
  margin: 1% 0%;
}

.info {
  margin: 4% 4% 10% 4%;
}

.info-level {
  display: block;
  text-transform: uppercase;;
  color: #3CCD99;
  font-weight: 300;
  font-size: 10px;
  margin-bottom: 12px;
}

.info-name {
  color: #191919;
  font-size: 24px;
  font-weight: 700;
}

.info-description {
  color: #B7B7B7;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.info-icon-social {
  height: 15px;
  opacity: 0.5;
  margin: 16px 12px 12px 0;
}

#icon-facebook:hover {
  content: url('../img/FacebookIconazul.svg');
}

#icon-twitter:hover {
  content: url('../img/TwitterIconazul.svg');
}

#icon-youtube:hover {
  content: url('../img/YoutubeIconrojo.svg');
}


@media screen and (max-width: 600px) and (orientation: portrait) {

  .card {
    height: 95%;
    flex-wrap: wrap-reverse;
  }

  .content {
    width: 100%;
    height: 55%;
  }

  .image {
    width: 100%;
    height: 45%;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.08));
  }

  .image-content{
    border-radius: 0 0 10px 10px;
    background-position: center bottom;
    background-size: 100% auto;
    clip-path: polygon(100% 10%, 100% 100%, 0% 100% ,0 0);
  }

  .git-icon{
    margin: 1% 4% 0 0;
  }

  .info {
    text-align: center;
    width: 80%;
    height: 100%;
    margin:  10% auto ;
  }

  .info-level{
    margin-bottom: 30px;
  }
}
